extends base

block content
    main.flex.justify-center.items-center
        div.w-full.max-w-xs
            if errorMessage
                span=errorMessage
            form(method="POST").form
                div.mb-4.flex.flex-col
                    label(for="name").label Name
                    input(name="name", type="text",placeholder="name", required)
                div.mb-4.flex.flex-col
                    label(for="email").label Email
                    input(name="email", type="email",placeholder="email", required)
                div.mb-4.flex.flex-col 
                    label(for="username").label Username   
                    input(name="username", type="text",placeholder="username", required)
                div.mb-4.flex.flex-col
                    label(for="password").label Password    
                    input(name="password", type="password",placeholder="password", required)
                div.mb-4.flex.flex-col
                    label(for="password2").label Confirm Password
                    input(name="password2", type="password",placeholder="Confirm Password", required)
                div.mb-4.flex.flex-col    
                    label(for="location").label Location
                    input(name="location", type="text",placeholder="location", required)
                div
                    input(type="submit", value="Join").input.btn
            hr
            div.flex.items-center.justify-between
                span.text-gray-400 Already have an account? 
                a(href="/login").font-extrabold.underline Log in now &rarr;