extends base

block content
    main.flex.justify-center.items-center
        div.w-full.max-w-xs
            if errorMessage
                span=errorMessage
            form(method="POST").form
                div.mb-4.flex.flex-col
                    label(for="username").label Username
                    input(placeholder="Username", name="username", type="text", required).input
                div.mb-6.flex.flex-col
                    label(for="password").label Password
                    input(placeholder="Password", name="password", type="password", required).input
                div
                    input(type="submit", value="Login").input.btn
            hr
            div.flex.items-center.justify-between
                span.text-gray-400 Don't have an account? 
                a(href="/join").font-extrabold.underline Create one now &rarr;